<div style="height:100vh" style="margin-top:20px" class="w3-container">

  <div class="w3-card" style="width:800px; padding:24px">
    <h5>Admin Login</h5>
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
       
        <button type="login" (click)="signIn()" class="btn btn-primary">Login</button>
  </div>
   

</div>