<div class="w3-card w3-margin " style="min-height:100px" *ngFor="let question of questions; let i=index">
  <header class="w3-container w3-teal">
    <pre class="w3-text-white "> Q {{i+1 }}. {{question.question}}</pre>
  </header>
  <ul class="w3-ul w3-hoverable">
    <li>
      <pre>a. {{question.a}}</pre>
    </li>
    <li>
      <pre>b. {{question.b}}</pre>
    </li>
    <li>
      <pre>c. {{question.c}}</pre>
    </li>
    <li>
      <pre>d. {{question.d}}</pre>
    </li>
    <li>
      <pre>ans. {{question.ans}}</pre>
    </li>
  </ul>

</div>
